/**
 * @author jinguangguo
 * @version [v1.0] 2014-08-15
 * @description 基础reset
 */

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, textarea, select, optgroup, option, fieldset, legend, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}

body {
    background: #fff;
}

fieldset, img {
    border: 0;
}

ul, li, ol {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
}

legend {
    color: #000;
}

input, button, textarea, select, optgroup, option {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
}

input, button, select {
    margin: 0;
    *font-size: 100%;
    line-height: 1.2;
}

a {
    color: #06c;
    text-decoration: none;
}

a img, img {
    -ms-interpolation-mode: bicubic;
}

a:hover, a:active, a:focus {
    color: #06c;
    text-decoration: underline;
}

table {
    border-collapse: collapse;
    border-spacing: 0px;
}

header, aside, section {
    display: block;
}

input::-ms-clear {
    display: none;
}

::-webkit-scrollbar-track-piece {
    background-color: #fff;
    -webkit-border-radius: 3px;
}

::-webkit-scrollbar {
    width: 12px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    height: 30px;
    background-color: #999;
    -webkit-border-radius: 7px;
    outline: 2px solid #fff;
    outline-offset: -2px;
    border: 2px solid #fff;
}

::-webkit-scrollbar-thumb:hover {
    height: 30px;
    background-color: #9f9f9f;
    -webkit-border-radius: 8px;
}
